root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.pas]
indent_size = 2

[*.dpr]
indent_size = 2

[*.inc]
indent_size = 2

[*.dfm]
indent_size = 2

[*.json]
indent_size = 2

[*.xml]
indent_size = 2

[*.yml]
indent_size = 2

[*.yaml]
indent_size = 2

[*.md]
indent_size = 2

[*.txt]
indent_size = 2
